body .app-loader {
    display: none;
}

body.app-loading {
    background-color: #00ba9b;
}

body.app-loading .app-loader {
    display: block;
    text-align: center;
}

body.app-loading .app-loader label {
    display:block;
    text-transform: uppercase;
    color:#a8e8dd;
}

.post-full-banner {
    height: 300px;
    width: 100%;
    background-position: center;
}
